<html>
<head>
  <title>Image <%= @image.filename %></title>
</head>
<body>
<p><%= @image.filename %></p>
<a href="<%= @image.page_filename %>"><img src="<%= @image.thumb_filename %>" /></a>
</body>
</html>
